APP_NAME="NORBE T VISTE"
APP_ENV=development
APP_URL=http://localhost:5173
API_URL=http://localhost:8787

JWT_SECRET=
JWT_EXPIRES_IN=8h

ADMIN_SEED_NAME=
ADMIN_SEED_EMAIL=
ADMIN_SEED_PASSWORD=

D1_DATABASE_NAME=
D1_DATABASE_ID=

R2_BUCKET_NAME=
R2_PUBLIC_BASE_URL=

CORS_ALLOWED_ORIGINS=http://localhost:5173
